
.highlight {
  background-color: #161821;
  color: #c6c8d1;
//  padding: 7px 7px 7px 10px;
//  border: 1px solid #ddd;
//  -moz-box-shadow: 3px 3px rgba(0,0,0,0.1);
//  -webkit-box-shadow: 3px 3px rgba(0,0,0,0.1);
//  box-shadow: 3px 3px rgba(0,0,0,0.1);
//  margin: 20px 0 20px 0;
//  overflow: scroll;
}

code {
  font-family:'Roboto Mono','Courier', monospace;
  font-size:0.9rem;
}
//blue
.highlight .k { color: #84A0C6 } 
.highlight .kd { color: #84A0C6 } 
.highlight .kn { color: #84A0C6 } 
.highlight .nt { color: #84A0C6 } 
.highlight .nl { color: #84A0C6 } 
.highlight .nv { color: #84A0C6 } 
//light blue
.highlight .k + .kd { color: #89B8C2 } 
.highlight .kt { color: #89B8C2 } 
.highlight .s { color: #89B8C2 } 
.highlight .ss { color: #89B8C2 } 
.highlight .s1 { color: #89B8C2 } 
.highlight .s2 { color: #89B8C2 } 
.highlight .dl { color: #89B8C2 } 
//puple
.highlight .kc { color: #A093C7 } 
.highlight .m { color: #A093C7 } 
.highlight .mi { color: #A093C7 } 
.highlight .mf { color: #A093C7 } 
.highlight .nb { color: #A093C7 } 
.highlight .sx { color: #A093C7 } 
//orange
.highlight .gh { color: #E2a478 } 
//gray
.highlight .c1 { color: #6B7089 } 
.highlight .cm { color: #6B7089 } 
.highlight .err { color: #6B7089 }
//green
.highlight .nd { color: #B4BE82 } 

