@import "https://use.fontawesome.com/releases/v5.0.8/css/all.css";

.svg-icon {
  font-size: 2rem;
  display: inline-block;
}

#contacts{
  display: flex;
  margin: 1rem;
  a{
    text-align: center;
    display: block;
    flex-grow: 1;
  }
}
